.notfound-icon {
  height: 400px;
  width: 400px;
}
.not-found {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 35px;
}
.description {
  color: #dcdcdc;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
}
